body {
   Font-Family: 'Libre Franklin', Sans-Serif;
   font-weight: 200;
   font-style: normal;
   background-color: #B0C5B4;
   width: 100%;
   margin: 0;
   color: #616161;
  margin-top: 4%;
}

.navigation {
  width: 100%;
  text-align: center;
  background-color:#ffebee;
  height: 55px;
  box-shadow: grey 0px 1px 8px;
  position:sticky;
  top:0;
}

.nav-link {
  text-decoration: none;
  margin: 20px;
  display: inline-flex;
  color: #616161;
}

.nav-link:hover {
  color: cadetblue;
}

.header {
   margin: auto;
   width: 90%;
   text-align: center;
   Font-Family: 'Raleway', Sans-Serif;
   font-weight: lighter;
}

.footer {
    margin-top: 25px;
    width: 100%;
    background-color: #eceff1;
    box-shadow: grey 0 -1px 8px;
    position:sticky;
    bottom:0;
}

.footer-container {
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
}

.footer-container p {
    font-weight: 400;
    margin-top: 0;
    margin-right: 20px;
}

.footer-container ul {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-link-container {
    position: absolute;
    right: 0;
    height: 100%;
}

.footer-link {
  text-decoration: none;
  margin-right: 20px;
  color: #616161;
  line-height: 60px;
}

.footer-link:hover {
  color: cadetblue;
}

.secondary-container {
  height:auto;
  position: relative;
}

.key-container {
  position: absolute;
  margin: 0;
  margin-left: 78%;
  top: 50%;
  transform: translate(0, -50%);
}

.key-image {
  height: 400px;
}

.symbols {
  color: #336065 !important;
  text-shadow: .5px .5px 4px grey;
}

.title-container {
  position: absolute;
  margin: 0;
  margin-left: 15%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.title {
  font-size: 10em;
  color: white;
  font-family: big-caslon-fb, serif;
  font-weight: 200;
  font-style: medium;
  margin: 0;
  text-align: center;
}

.nav-buttons{
  display: flow-root;
}

.main-button {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.right-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  float: right;
  margin-right: 9%;
  border: 5px solid white;
  border-radius: 10px;
}

.left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  float: left;
  margin-left: 9%;
  border: 5px solid white;
  border-radius: 10px;
}

.bottom-nav-button {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 2.3%;
}

.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 300px;
  margin-left: 9%;
  border: 5px solid white;
  border-radius: 10px;
}

.name {
   /* Font-Family: 'Open Sans', Sans-Serif; */
   font-weight: 200;
   font-style: normal;
   font-size: 50px;
}

.description {
   /* Font-Family: 'Open Sans', Sans-Serif; */
   font-weight: 300;
   font-style: normal;
   font-size: 25px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    width: 42%;
    height: 100%;
    justify-content: center;
    z-index: 0;
}

li {
    list-style: none;
}

.box{
    flex: 1 1 calc(10% - 0px);
    position: relative;
    padding-bottom: 10%;
    background-size: contain;
    /* box-shadow: grey 1px 3px 5px; */
    /* border-radius: 3px; */
}

.non-recyclable .box {
    background-color: #fbe1ca;
}

.recyclable-1 .box {
    background-color: #d1b02b;
}

.recyclable-2 .box {
    background-color: #336065;
}

.non-recyclable {
    display: contents;
}

.recyclable-1 {
    display: contents;
}

.recyclable-2 {
    display: contents;
}

.box1:hover {
   background-image: url("images/landfill/12.jpg");
}

/* .box1:focus {
   background-color: #FFFFFF;
} */

.box2:hover {
   background-image: url("images/landfill/C1.jpg");
}

.box3:hover {
   background-image: url("images/landfill/C2.jpg");
}

.box4:hover {
   background-image: url("images/landfill/C4.jpg");
}

.box5:hover {
   background-image: url("images/landfill/CC1.jpg");
}

.box6:hover {
   background-image: url("images/landfill/F1.jpg");
}

.box7:hover {
   background-image: url("images/landfill/F2.jpg")
}

.box8:hover {
   background-image: url("images/landfill/F3.jpg");
}

.box9:hover {
   background-image: url("images/landfill/F4.jpg");
}

.box10:hover {
   background-image: url("images/landfill/F5.jpg");
}

.box11:hover {
   background-image: url("images/landfill/F6.jpg");
}

.box12:hover {
   background-image: url("images/landfill/F7.jpg");
}

.box13:hover {
   background-image: url("images/landfill/L1.jpg");
}

.box14:hover {
   background-image: url("images/landfill/L2.jpg");
}

.box15:hover {
   background-image: url("images/landfill/L3.jpg");
}

.box16:hover {
   background-image: url("images/landfill/L4.jpg");
}

.box17:hover {
   background-image: url("images/landfill/M1.jpg");
}

.box18:hover {
   background-image: url("images/landfill/M2.jpg");
}

.box19:hover {
   background-image: url("images/landfill/M3.jpg");
}

.box20:hover {
   background-image: url("images/landfill/M4.jpg");
}

.box21:hover {
   background-image: url("images/landfill/M5.jpg");
}

.box22:hover {
   background-image: url("images/landfill/M6.jpg");
}

.box23:hover {
   background-image: url("images/landfill/M7.jpg");
}

.box24:hover {
   background-image: url("images/landfill/M8.jpg");
}

.box25:hover {
   background-image: url("images/landfill/M9.jpg");
}

.box26:hover {
   background-image: url("images/landfill/M10.jpg");
}

.box27:hover {
   background-image: url("images/landfill/M11.jpg");
}

.box28:hover {
   background-image: url("images/landfill/M12.jpg");
}

.box29:hover {
   background-image: url("images/landfill/M13.jpg");
}

.box30:hover {
   background-image: url("images/landfill/M14.jpg");
}

.box31:hover {
   background-image: url("images/landfill/O1.jpg");
}

.box32:hover {
   background-image: url("images/landfill/O2.jpg");
}

.box33:hover {
   background-image: url("images/landfill/O3.jpg");
}

.box34:hover {
   background-image: url("images/landfill/O4.jpg");
}

.box35:hover {
   background-image: url("images/landfill/O5.jpg");
}

.box36:hover {
   background-image: url("images/landfill/O6.jpg");
}

.box37:hover {
   background-image: url("images/landfill/O7.jpg");
}

.box38:hover {
   background-image: url("images/landfill/U1.jpg");

}

 .box39:hover {
    background-image: url("images/landfill/U2.jpg");
 }

 .box40:hover {
    background-image: url("images/landfill/W1.jpg");
 }

 .box41:hover {
    background-image: url("images/landfill/W2.jpg");
 }

 .box42:hover {
    background-image: url("images/landfill/W3.jpg");
 }

 .box43:hover {
    background-image: url("images/landfill/W4.jpg");
 }

 .box44:hover {
    background-image: url("images/landfill/W5.jpg");
 }

 .box45:hover {
    background-image: url("images/landfill/W6.jpg")
 }

 .box46:hover {
    background-image: url("images/landfill/W7.jpg");
 }

 .box47:hover {
    background-image: url("images/landfill/W8.jpg");
 }

 .box48:hover {
    background-image: url("images/landfill/W9.jpg");
 }

 .box49:hover {
    background-image: url("images/landfill/W10.jpg");
 }

 .box50:hover {
    background-image: url("images/landfill/W11.jpg");
 }

 .box51:hover {
    background-image: url("images/landfill/W30.jpg");
 }

 .box52:hover {
    background-image: url("images/landfill/W13.jpg");
 }

 .box53:hover {
    background-image: url("images/landfill/W14.jpg");
 }

 .box54:hover {
    background-image: url("images/landfill/W15.jpg");
 }

 .box55:hover {
    background-image: url("images/landfill/W16.jpg");
 }

 .box56:hover {
    background-image: url("images/landfill/W17.jpg");
 }

 .box57:hover {
    background-image: url("images/landfill/W18.jpg")
 }

 .box58:hover {
    background-image: url("images/landfill/W19.jpg");
 }

 .box59:hover {
    background-image: url("images/landfill/W20.jpg");
 }

 .box60:hover {
    background-image: url("images/landfill/W21.jpg");
 }

 .box61:hover {
    background-image: url("images/landfill/W22.jpg");
 }

 .box62:hover {
    background-image: url("images/landfill/W23.jpg");
 }

 .box63:hover {
    background-image: url("images/landfill/W24.jpg");
 }

 .box64:hover {
    background-image: url("images/landfill/W25.jpg");
 }

 .box65:hover {
    background-image: url("images/landfill/W26.jpg");
 }

 .box66:hover {
    background-image: url("images/landfill/W27.jpg");
 }

 .box67:hover {
    background-image: url("images/landfill/W28.jpg");
 }

 .box68:hover {
    background-image: url("images/landfill/W29.jpg");
 }

 .box69:hover {
    background-image: url("images/improper_recycle_1/<6 (2).jpg");
 }

 .box70:hover {
    background-image: url("images/improper_recycle_1/C1.jpg");
 }

 .box71:hover {
    background-image: url("images/improper_recycle_1/CC.jpg");
 }

 .box72:hover {
    background-image: url("images/improper_recycle_1/CL1.jpg");
 }

 .box73:hover {
    background-image: url("images/improper_recycle_1/L1.jpg");
 }

 .box74:hover {
    background-image: url("images/improper_recycle_1/L2.jpg");
 }

 .box75:hover {
    background-image: url("images/improper_recycle_1/L3.jpg");
 }

 .box76:hover {
    background-image: url("images/improper_recycle_1/L5.jpg");
 }

 .box77:hover {
    background-image: url("images/improper_recycle_1/O1.jpg");
 }

 .box78:hover {
    background-image: url("images/improper_recycle_1/O2.jpg");
 }

 .box79:hover {
    background-image: url("images/improper_recycle_1/O3.jpg");
 }

 .box80:hover {
    background-image: url("images/improper_recycle_1/O4.jpg");
 }

 .box81:hover {
    background-image: url("images/improper_recycle_1/O8.jpg");
 }

 .box82:hover {
    background-image: url("images/improper_recycle_1/W.jpg");
 }

 .box83:hover {
    background-image: url("images/recycle_2/B1.jpg");
 }

 .box84:hover {
    background-image: url("images/recycle_2/F10.jpg");
 }

 .box85:hover {
    background-image: url("images/recycle_2/B2.jpg");
 }

 .box86:hover {
    background-image: url("images/recycle_2/D1.jpg");
 }

 .box87:hover {
    background-image: url("images/recycle_2/D2.jpg");
 }

 .box88:hover {
    background-image: url("images/recycle_2/D3.jpg");

 }

  .box89:hover {
     background-image: url("images/recycle_2/D4.jpg");
  }

  .box90:hover {
     background-image: url("images/recycle_2/D5.jpg");
  }

  .box91:hover {
     background-image: url("images/recycle_2/F11.jpg");
  }

  .box92:hover {
     background-image: url("images/recycle_2/F1.jpg");
  }

  .box93:hover {
     background-image: url("images/recycle_2/F2.jpg");
  }

  .box94:hover {
     background-image: url("images/recycle_2/F3.jpg");
  }

  .box95:hover {
     background-image: url("images/recycle_2/F4.jpg")
  }

  .box96:hover {
     background-image: url("images/recycle_2/F5.jpg");
  }

  .box97:hover {
     background-image: url("images/recycle_2/F6.jpg");
  }

  .box98:hover {
     background-image: url("images/recycle_2/F8.jpg");
  }

  .box99:hover {
     background-image: url("images/recycle_2/F9.jpg");
  }

  .box100:hover {
     background-image: url("images/recycle_2/J1.jpg");
  }
